In [1]:
import pandas as pd

In [2]:
pd.read_csv("resources/nba.csv")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
nba=pd.read_csv("resources/nba.csv")

In [4]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [5]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [7]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [8]:
nba.shape #tuple olarak dondurur. ilk elelman satır ikincisi sutun verir.

(458, 9)

In [9]:
nba.dtypes #her bır alanın ısmı ve hangı tıpte bilgi saklar verir.

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [10]:
nba.columns #columns ların ısmını verır.

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [11]:
nba.axes # x vey y olarak ıkı tane. x numarasını y adını tutar.

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [12]:
nba.info #bos ve dolu bilgileri verır. eger bır alan bos verı ıcerısıyorsa ve 
#sayısal verı varsa o alan mutlaka float olarak saklanır.

<bound method DataFrame.info of               Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]>

In [13]:
revenue=pd.read_csv("resources/revenue.csv",index_col="Date") #index_col ile hangı alanın ındex olarak secılecegı belırlenır.

In [14]:
revenue

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [15]:
revenue.sum() 
revenue.sum(axis=0)
revenue.sum(axis="index")
# 3 ude sutun bazında toplama ıslemı yapar.

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [16]:
revenue["New York"].sum() #tek bır alanı toplar

5475

In [17]:
revenue.sum(1)
revenue.sum(axis="columns")
#satır bazında toplama yapar.

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [18]:
nba.Name #name alanını getırır.

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [19]:
nba.Number

0       0.0
1      99.0
2      30.0
3      28.0
4       8.0
       ...
453     8.0
454    25.0
455    21.0
456    24.0
457     NaN
Name: Number, Length: 458, dtype: float64

In [20]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
nba.Position

0       PG
1       SF
2       SG
3       SG
4       PF
      ...
453     PG
454     PG
455      C
456      C
457    NaN
Name: Position, Length: 458, dtype: object

Alan isminde boşluk varsa birleşik yazıcaksın.

In [22]:
nba.FirstName

AttributeError: 'DataFrame' object has no attribute 'FirstName'

Boyle bır alan yok demek.

In [ ]:
nba["First Name"] #bosluk varsa boyle de aranabılır.

Yıne boyle bır alan yok dedı. KeyError verdı.

In [ ]:
nba["Name"].head().values #serıye dondturlen valuları lıste olarak aktar.

In [ ]:
nba[["Name","Salary","Position"]] #ıstedıgın kadar alanı ceker. Buyuk kucuk harf uyumuna dıkkat et.

In [ ]:
selected_columns=["Position","Age"]
nba[selected_columns]["Position"]

In [24]:
nba["Sports"]="Basketball" #yeni column ekler.
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sports
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Basketball
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Basketball
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Basketball
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Basketball
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,Basketball
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Basketball
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Basketball

In [25]:
nba["League"]="National Basketball Association"
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sports,League
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball,National Basketball Association
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball,National Basketball Association
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball,National Basketball Association
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Basketball,National Basketball Association
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Basketball,National Basketball Association
...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Basketball,National Basketball Association
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Basketball,National Basketball Association
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,Basketball,National Basketball Association
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Basketball,National Basketball Association
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Basketball,National Basketball Association

In [26]:
nba.insert(loc=4,column="Deneme",value="Değer") #4.indexe Deneme diye column ekler ve hepsının degerini Değer yapar.

In [27]:
nba

,Name,Team,Number,Position,Deneme,Age,Height,Weight,College,Salary,Sports,League
0,Avery Bradley,Boston Celtics,0.0,PG,Değer,25.0,6-2,180.0,Texas,7730337.0,Basketball,National Basketball Association
1,Jae Crowder,Boston Celtics,99.0,SF,Değer,25.0,6-6,235.0,Marquette,6796117.0,Basketball,National Basketball Association
2,John Holland,Boston Celtics,30.0,SG,Değer,27.0,6-5,205.0,Boston University,NaN,Basketball,National Basketball Association
3,R.J. Hunter,Boston Celtics,28.0,SG,Değer,22.0,6-5,185.0,Georgia State,1148640.0,Basketball,National Basketball Association
4,Jonas Jerebko,Boston Celtics,8.0,PF,Değer,29.0,6-10,231.0,NaN,5000000.0,Basketball,National Basketball Association
...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,Değer,26.0,6-3,203.0,Butler,2433333.0,Basketball,National Basketball Association
454,Raul Neto,Utah Jazz,25.0,PG,Değer,24.0,6-1,179.0,NaN,900000.0,Basketball,National Basketball Association
455,Tibor Pleiss,Utah Jazz,21.0,C,Değer,26.0,7-3,256.0,NaN,2900000.0,Basketball,National Basketball Association
456,Jeff Withey,Utah Jazz,24.0,C,Değer,26.0,7-0,231.0,Kansas,947276.0,Basketball,National Basketball Association
457,NaN,NaN,NaN,NaN,Değer,NaN,NaN,NaN,NaN,NaN,Basketball,National Basketball Association

# Varolan Columndan Yeni Bir Column Oluşturma

In [28]:
nba["New_Age"]=nba["Age"].add(15) #age kısmına 15 ekler.

In [29]:
nba

,Name,Team,Number,Position,Deneme,Age,Height,Weight,College,Salary,Sports,League,New_Age
0,Avery Bradley,Boston Celtics,0.0,PG,Değer,25.0,6-2,180.0,Texas,7730337.0,Basketball,National Basketball Association,40.0
1,Jae Crowder,Boston Celtics,99.0,SF,Değer,25.0,6-6,235.0,Marquette,6796117.0,Basketball,National Basketball Association,40.0
2,John Holland,Boston Celtics,30.0,SG,Değer,27.0,6-5,205.0,Boston University,NaN,Basketball,National Basketball Association,42.0
3,R.J. Hunter,Boston Celtics,28.0,SG,Değer,22.0,6-5,185.0,Georgia State,1148640.0,Basketball,National Basketball Association,37.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,Değer,29.0,6-10,231.0,NaN,5000000.0,Basketball,National Basketball Association,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,Değer,26.0,6-3,203.0,Butler,2433333.0,Basketball,National Basketball Association,41.0
454,Raul Neto,Utah Jazz,25.0,PG,Değer,24.0,6-1,179.0,NaN,900000.0,Basketball,National Basketball Association,39.0
455,Tibor Pleiss,Utah Jazz,21.0,C,Değer,26.0,7-3,256.0,NaN,2900000.0,Basketball,National Basketball Association,41.0
456,Jeff Withey,Utah Jazz,24.0,C,Değer,26.0,7-0,231.0,Kansas,947276.0,Basketball,National Basketball Association,41.0
457,NaN,NaN,NaN,NaN,Değer,NaN,NaN,NaN,NaN,NaN,Basketball,National Basketball Association,NaN

In [30]:
nba["Weight.kg"]=nba["Weight"]*0.4535 #pound tutunden kilograma cevırdı ve yenı degerı yazdırdı.

In [31]:
nba

,Name,Team,Number,Position,Deneme,Age,Height,Weight,College,Salary,Sports,League,New_Age,Weight.kg
0,Avery Bradley,Boston Celtics,0.0,PG,Değer,25.0,6-2,180.0,Texas,7730337.0,Basketball,National Basketball Association,40.0,81.6300
1,Jae Crowder,Boston Celtics,99.0,SF,Değer,25.0,6-6,235.0,Marquette,6796117.0,Basketball,National Basketball Association,40.0,106.5725
2,John Holland,Boston Celtics,30.0,SG,Değer,27.0,6-5,205.0,Boston University,NaN,Basketball,National Basketball Association,42.0,92.9675
3,R.J. Hunter,Boston Celtics,28.0,SG,Değer,22.0,6-5,185.0,Georgia State,1148640.0,Basketball,National Basketball Association,37.0,83.8975
4,Jonas Jerebko,Boston Celtics,8.0,PF,Değer,29.0,6-10,231.0,NaN,5000000.0,Basketball,National Basketball Association,44.0,104.7585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,Değer,26.0,6-3,203.0,Butler,2433333.0,Basketball,National Basketball Association,41.0,92.0605
454,Raul Neto,Utah Jazz,25.0,PG,Değer,24.0,6-1,179.0,NaN,900000.0,Basketball,National Basketball Association,39.0,81.1765
455,Tibor Pleiss,Utah Jazz,21.0,C,Değer,26.0,7-3,256.0,NaN,2900000.0,Basketball,National Basketball Association,41.0,116.0960
456,Jeff Withey,Utah Jazz,24.0,C,Değer,26.0,7-0,231.0,Kansas,947276.0,Basketball,National Basketball Association,41.0,104.7585
457,NaN,NaN,NaN,NaN,Değer,NaN,NaN,NaN,NaN,NaN,Basketball,National Basketball Association,NaN,NaN

In [ ]:
nba["Weight.kg"]=nba["Weight"].mul(0.4535) #aynı ıslem mul ıle de yapılabılır.

In [ ]:
nba

In [32]:
nba["Position"].value_counts(ascending=True,normalize=True)*100 #unique degerlerı verır. 
#100 desını kucukten buyuge sıralı verır.

C     17.067834
SF    18.599562
PG    20.131291
PF    21.881838
SG    22.319475
Name: Position, dtype: float64

In [ ]:
nba.dropna(how="any") #boş alanların hepsını satır olarak sıler.

In [ ]:
nba.dropna(how="all") #sadece butun alanları bos olan kayıtları sıler.

In [ ]:
nba.dropna(subset=["College"]) #sadece college alanı bos olan kayıtları sıler.

In [ ]:
nba.dropna(subset=["College","Salary"]) #hem college hem salary ıcın bos olan alanları sıler.

In [ ]:
nba.fillna(0) #bos alanları doldurmaya yarar. Butun bos alanları 0 ile doldurur.

In [ ]:
nba["College"].fillna("Belirsiz", inplace=True) # College alanındakı boslukları Belirsiz ile doldurdur.
#inplace ile kalıcı hale getırdı. Yoksa Ram de kalır ve gerı sılınır.

In [ ]:
nba

In [ ]:
nba=pd.read_csv("resources/nba.csv").dropna(how="all")
nba.tail()

In [ ]:
nba["Age"].hasnans #boş alan var mı kontrol eder.

In [ ]:
nba["Age"].astype("int")
nba["Age"].astype(int)
#ikisi de tur donusumu yapar. Tur donusumu yaparken bos alan olmamasına dıkkat et.

In [ ]:
nba["Age"]=nba["Age"].astype("int") #tur donusumu bu alan uzerınde uygulanır.
nba

In [ ]:
nba["Salary"].hasnans

In [ ]:
nba["Salary"].astype(int) # bos alan oldugu ıcın hata verır.

In [ ]:
nba["Salary"]=nba["Salary"].fillna(0)
nba["Salary"].astype(int)

In [ ]:
nba["Position"].unique() #kaç farklı POisition var

In [ ]:
nba["Position"].nunique()

In [ ]:
nba["Position"]=nba["Position"].astype("category") #kategorı verıpıne cevırıp bellekten tasarruf saglar.
nba.info()

In [ ]:
nba.sort_values(by="Name") #Name e gore sıralar. A dan Z ye dogru

In [ ]:
nba.sort_values(by=["Name", "Salary"]) #ilk Name e gore sonra bunları da kendı arasında Salary e gore sıralar.

In [ ]:
nba.sort_values(by=["Team","Name"],ascending=[True,False]) #Team a gore A dan Zye Name gore Z den Aya

In [ ]:
nba.sort_values("Salary", na_position="first")
#bosları onde sıralar.

In [ ]:
nba.sort_index(inplace=True) #geri orijinal halıne getırır.
nba

# Rank Metodu

In [ ]:
nba["Salary"].rank() #salarye gore kucukten buyuge sıralar

In [ ]:
nba.sort_values("Salary",ascending=False) #kayıtları Ranke gore sıralar. Aynı olanlara aynı rank i verir.

In [ ]:
nba.sort_index(inplace=True) #index sıralamasını eski haline getirir.
nba
nba["Age"].fillna(0)
nba["Age"]

In [ ]:
nba["Salary"].rank() #küçükten büyüğe rank salarye göre sıralar.

In [ ]:
nba["Salary Rank"]=nba["Salary"].rank(ascending=False)
nba
#Salary si buyukten kucuge olarak Salary Rank ları sıralar